<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to write your story!</h1>
    <form action='/madInsults'>
      <div class='form-group'>
        <label for='insult1'>Insult</label>
        <input id='insult1' name='insult1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='insult2'>Another insult</label>
        <input id='person2' name='insult2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='nameMom1'>Name of your Mom</label>
        <input id='animal' name='nameMom1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='exclamation'>An exclamation</label>
        <input id='exclamation' name='exclamation' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb'>A past tense verb</label>
        <input id='verb' name='verb' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun'>A noun</label>
        <input id='noun' name='noun' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Show me the story!</button>
    </form>
  </body>
</html>
